@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  background: #191f31;
}
.container {
  min-height: 100%;
}
.intro {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.intro h4 {
  font-size: 32px;
  font-weight: 600;
  color: #fff;
  text-wrap: balance;
}
.intro h4 span {
  color: #dbc902;
}
.intro .intro_title {
  font-size: 42px;
  font-weight: 700;
  color: #fff;
  margin-top: 12px;
  text-wrap: wrap;
}
.intro .intro_subtitle {
  font-size: 22px;
  font-weight: 400;
  margin-top: 12px;
  color: #ccc;
  text-wrap: wrap;
}
.intro i {
  font-size: 60px;
  height: 50px;
  color: #fff;
  margin-top: 50px;
}
.quarantee {
  display: flex;
  margin: 50px 50px 40px;
  flex-wrap: nowrap;
  gap: 26px;
  padding: 0 20px;
}
.quarantee .item {
  background-color: #dbc902;
  color: #191f31;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  padding: 0 30px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 10px;
  transition: all 0.4s ease;
}
.quarantee .item .info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.quarantee .item .info h3 {
  font-size: 30px;
  font-weight: 600;
}
.quarantee .item .info p {
  font-size: 16px;
  font-weight: 400;
  margin-top: 5px;
}
.quarantee .item .icon {
  width: 44px;
  height: 44px;
  background-color: #191f31;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #dbc902;
  transition: background-color 0.4s ease;
}
.quarantee .item .icon i {
  font-size: 22px;
}
.quarantee .item > i {
  font-size: 28px;
  color: #191f31;
  transition: color 0.4s ease;
}
.quarantee .item:hover {
  background-color: transparent;
  border: 1px solid #dbc902;
  color: #fff;
}
.quarantee .item:hover .icon {
  background-color: #dbc902;
  color: #191f31;
}
.quarantee .item:hover > i {
  color: #dbc902;
}
.separator {
  width: 50%;
  margin: 80px auto 60px auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.separator h5 {
  font-size: 42px;
  font-weight: 700;
  color: #191f31;
  padding: 10px 20px;
  background-color: #dbc902;
  border-radius: 25px;
}
.who .about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  gap: 50px;
}
.who .about img {
  width: 200px;
}
.who .about h3 {
  font-size: 26px;
  font-weight: 600;
  color: #dbc902;
}
.who .about p {
  font-size: 16px;
  margin-top: 20px;
  color: #ccc;
}
.skills {
  display: flex;
  justify-content: space-around;
  padding: 0 50px;
}
.skills .left {
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills .left .info h3 {
  color: #dbc902;
  font-size: 26px;
  font-weight: 600;
  text-align: right;
}
.skills .left .info p {
  color: #ccc;
  font-size: 16px;
  margin-top: 20px;
  text-align: right;
}
.skills .right {
  width: 200px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
}
.skills .right .item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dbc902;
  width: 50px;
  height: 50px;
  border-radius: 10px;
}
.skills .right .item i {
  font-size: 30px;
  color: #191f31;
}
@media screen and (max-width: 1100px) {
  .quarantee {
    flex-wrap: wrap;
    gap: 10px;
  }
  .quarantee .item {
    flex-basis: 49%;
  }
  .who .about h3 {
    font-size: 22px;
  }
  .who .about p {
    font-size: 14px;
  }
  .skills {
    justify-content: space-between;
    gap: 20px;
  }
  .skills .left {
    width: 500px;
  }
  .skills .left .info h3 {
    font-size: 22px;
  }
  .skills .left .info p {
    font-size: 14px;
  }
}
@media screen and (max-width: 780px) {
  .intro h4 {
    font-size: 26px;
  }
  .intro .intro_title {
    font-size: 32px;
  }
  .intro .intro_subtitle {
    font-size: 18px;
  }
  .quarantee .item {
    flex-basis: 100%;
  }
  .who .about {
    flex-wrap: wrap;
    justify-content: center;
  }
  .skills {
    justify-content: space-between;
    gap: 20px;
  }
  .skills .left .info h3 {
    font-size: 20px;
  }
  .skills .left .info p {
    font-size: 12px;
  }
}
@media screen and (max-width: 650px) {
  .separator h5 {
    font-size: 30px;
  }
  .intro {
    margin-top: 50px;
    height: 320px;
    justify-content: start;
  }
  .intro h4 {
    font-size: 24px;
  }
  .intro .intro_title {
    font-size: 30px;
  }
  .intro .intro_subtitle {
    font-size: 14px;
  }
  .intro i {
    margin-top: 40px;
    font-size: 80px;
  }
  .skills {
    flex-wrap: wrap;
    justify-content: center;
  }
  .skills .left .info h3 {
    text-align: center;
  }
  .skills .left .info p {
    text-align: center;
  }
  .skills .right {
    justify-content: space-between;
  }
}
@media screen and (max-width: 480px) {
  .intro h4 {
    font-size: 20px;
  }
  .intro .intro_title {
    font-size: 26px;
  }
  .intro .intro_subtitle {
    font-size: 12px;
  }
}
