.contact-form {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 20px 40px;
  margin-top: 150px;
}
.form-section h2 {
  font-size: 36px;
  color: #dbc902;
  margin-bottom: 20px;
}
.form-section p {
  color: #fff;
  margin-bottom: 20px;
}
.form-section {
  max-width: 700px;
  height: 100%;
  width: 100%;
  background-color: #141927;
  padding: 25px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.2);
}
.form-section .form-group input {
  padding: 8px 16px;
  margin-bottom: 10px;
}
.send__button {
  padding: 5px 25px;
  border: 2px solid #dbc902;
  background: transparent;
  color: #dbc902;
  font-size: 15px;
  font-weight: 500;
  margin-top: 10px;
  border-radius: 10px;
  transition: all 0.4s ease;
}
.send__button:hover {
  border: 2px solid #fff;
  transform: scale(1.05);
  color: #fff;
  cursor: pointer;
}
