.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
  height: 100px;
  max-width: 1200px;
  margin: 0 auto;
}
.navbar_logo {
  color: #dbc902;
  font-weight: 600;
  transition: color 0.4s ease;
  cursor: pointer;
}
.navbar ul li {
  list-style: none;
}
.navbar ul {
  display: flex;
}
.navbar ul li a {
  text-decoration: none;
  color: #fff;
  margin-right: 25px;
  font-size: 22px;
  transition: color 0.4s ease;
}
.navbar ul li a:hover {
  color: #dbc902;
}
.navbar ul li:last-child a {
  margin: 0;
}
.navbar .hire_me {
  padding: 10px 30px;
  border: 2px solid #dbc902;
  background: transparent;
  color: #dbc902;
  font-size: 20px;
  font-weight: 500;
  border-radius: 10px;
  transition: all 0.4s ease;
}
.navbar .hire_me:hover {
  border: 2px solid #fff;
  transform: scale(1.05);
  color: #fff;
  cursor: pointer;
}
@media screen and (max-width: 950px) {
  .hire_me,
  .navbar_logo {
    display: none;
  }
  .navbar {
    justify-content: space-around;
  }
}
@media screen and (max-width: 650px) {
  .navbar {
    display: block;
  }
  .navbar ul {
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }
  .navbar ul li a {
    font-size: 20px;
  }
  .navbar_logo {
    text-align: center;
    margin-top: 20px;
  }
}
