footer {
  position: relative;
  background: #141927;
  padding: 80px 50px 40px;
  margin-top: 200px;
}
footer .start {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  text-align: left;
  background-color: #dbc902;
  padding: 30px 20px;
  border-radius: 20px;
  width: 70%;
  top: -16%;
  left: 15%;
}
footer .start h3 {
  color: #191f31;
  font-size: 22px;
  font-weight: 600;
}
footer .start p {
  color: #191f31;
  font-size: 13px;
  width: 40%;
}
footer .start button {
  background-color: transparent;
  padding: 10px 20px;
  border: 1px solid #191f31;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.4s ease;
}
footer .start button:hover {
  transform: scale(1.05);
  background-color: #191f31;
  color: #fff;
}
footer .cols {
  display: flex;
  align-items: flex-start;
  text-align: left;
}
footer .cols .about_col {
  flex: 3;
}
footer .cols .about_col h3 {
  color: #dbc902;
  margin-bottom: 20px;
}
footer .cols .about_col p {
  color: #ccc;
  font-size: 14px;
}
footer .cols .links_col {
  flex: 3;
}
footer .cols .links_col h4,
footer .cols .news_col h4 {
  color: #dbc902;
  margin-bottom: 20px;
}
footer .cols .links_col a {
  display: block;
  text-decoration: none;
  color: #ccc;
  font-size: 14px;
  line-height: 26px;
  transition: color 0.4s ease;
}
footer .cols .links_col a:hover {
  color: #dbc902;
}
footer .cols .news_col {
  flex: 3;
}
footer .cols .news_col p {
  color: #ccc;
  font-size: 14px;
}
footer .cols .news_col form {
  width: 100%;
  margin-top: 20px;
  position: relative;
}
footer .cols .news_col form input {
  width: 100%;
  background: #191f31;
  border: inset 0;
  padding: 14px 20px;
  color: #ccc;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-weight: 400;
  font-size: 14px;
}
footer .cols .news_col form button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid #dbc902;
  border-radius: 20px;
  position: absolute;
  background-color: #dbc902;
  top: 8px;
  right: 5px;
  cursor: pointer;
  transition: background-color 0.4s ease;
}
footer .cols .news_col form button:hover {
  background-color: #191f31;
  border: 1px solid #ccc;
  color: #ccc;
}
footer .cols .news_col form input:focus {
  border: 1px solid #dbc902;
  outline: none;
}
@media screen and (max-width: 1100px) {
  footer {
    margin-top: 150px;
  }
  footer .start {
    width: 90%;
    left: 5%;
  }
  footer .cols .about_col {
    display: none;
  }
  footer .cols .links_col,
  footer .cols .news_col {
    flex: 2;
  }
}
@media screen and (max-width: 650px) {
  footer .start p {
    display: none;
  }
  footer .start {
    top: -8%;
  }
  footer .cols {
    flex-wrap: wrap;
  }
  footer .cols .links_col {
    flex-basis: 100%;
    margin-bottom: 40px;
  }
  footer .cols .news_col {
    flex-basis: 100%;
  }
}
